In [4]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as math
import datetime as dt

# import seaborn as sns
import pandas as pd
import geopandas as gpd
from sodapy import Socrata
import plotly.figure_factory as ff

%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [5]:
df_2019 = pd.read_csv("../data/2019data.csv", low_memory=False)
df_2019.head(1)

,trip_id,device_id,vehicle_type,trip_duration,trip_distance,start_time,end_time,modified_date,month,hour,day_of_week,council_district_start,council_district_end,year,census_geoid_start,census_geoid_end
0,900cbaac-b24d-4077-9bbd-e2938b07b7fa,b07ef823-e9b9-441e-8972-09943f46da4a,scooter,89,0.0,2019-01-20T00:30:00.000,2019-01-20T00:30:00.000,2019-04-17T02:23:20.000,1,0,0,9,9,2019,48453001100,48453001100

In [6]:
df_2020 = pd.read_csv("../data/2020data.csv", low_memory=False)
df_2020.head(1)

,trip_id,device_id,vehicle_type,trip_duration,trip_distance,start_time,end_time,modified_date,month,hour,day_of_week,council_district_start,council_district_end,year,census_geoid_start,census_geoid_end
0,56ebfc5b-def6-4d6b-a2e4-b8495a072c1d,3c68ff46-80ee-4580-b8da-3ba8099a8a82,moped,2382,10781.0,2020-10-04T23:45:00.000,2020-10-05T00:30:00.000,2020-11-02T19:41:42.000,10,0,0,3,9,2020,48453000902,48453001100